<!--navigation-->
<nav id="main-header" class="navbar navbar-inverse navbar-fixed-top no-padding menu-color" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <a class="visible-xs img-responsive mobile-logo" href="/">
                <img src="~/images/OceanHillsMenuLogo.png" />
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse text-center">
            <ul id="menu" class="nav navbar-nav">
                @{
                    String home = "#home", entorno = "#entorno", viviendas = "#viviendas", contacto = "#contacto";
                    if (Request.Url.AbsolutePath.ToString() != "/")
                    {
                        String domain = "http://" + Request.Url.Authority + "/";
                        home = home.Insert(0, domain); entorno = entorno.Insert(0, domain); viviendas = viviendas.Insert(0, domain); contacto = contacto.Insert(0, domain);
                    }
                    <!--desktop & tablet menu-->
                    <li class="hidden-xs menu-link" data-menuanchor="entorno"><a href="@entorno">ENVIRONMENT</a></li>
                    <li class="hidden-xs menu-link" data-menuanchor="viviendas"><a href="@viviendas">HOME's</a></li>
                    <li class="hidden-xs menu-link" data-menuanchor="home"><a class="img-responsive hidden-xs page-scroll" href="@home"><img src="~/images/OceanHillsMenuLogo.png" /></a></li>
                    <li class="hidden-xs menu-link" data-menuanchor="contacto"><a href="@contacto">CONTACT</a></li>
                    <li class="hidden-xs menu-link dropdown">
                        <a href="#lg" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">LANGUAGES<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="col-xs-12 menu-link"><a href="/"><img src="~/images/sp.jpg" class="img-responsive center-block" /></a></li>
                            <li class="col-xs-12 menu-link"><a href="/english"><img src="~/images/gb.jpg" class="img-responsive center-block" /></a></li>
                        </ul>
                    </li>
                    <li class="hidden-xs menu-link"><p><i class="fa fa-phone"></i>+34 91 781 57 00</p></li>
                    <li class="hidden-xs menu-link"><p><i class="fa fa-envelope"></i>info@oceanhillsestepona.com </p></li>
                    <!--mobile menu-->
                    <li class="visible-xs col-xs-12 menu-link" data-menuanchor="entorno"><a href="@entorno">ENVIRONMENT</a></li>
                    <li class="visible-xs col-xs-12 menu-link" data-menuanchor="viviendas"><a href="@viviendas">HOME's</a></li>
                    <li class="visible-xs col-xs-12 menu-link" data-menuanchor="home"><a class="img-responsive col-xs-12 page-scroll" href="@home"><img src="~/images/OceanHillsMenuLogo.png" /></a></li>
                    <li class="visible-xs col-xs-12 menu-link" data-menuanchor="contacto"><a href="@contacto">CONTACT</a></li>
                    <li class="visible-xs col-xs-12 menu-link dropdown">
                        <a href="#lg" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">LANGUAGES<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="col-xs-12 menu-link"><a href="/"><img src="~/images/sp.jpg" class="img-responsive center-block" /></a></li>
                            <li class="col-xs-12 menu-link"><a href="/english"><img src="~/images/gb.jpg" class="img-responsive center-block" /></a></li>
                        </ul>
                    </li>
                    <li class="visible-xs col-xs-12 menu-link"><p><i class="fa fa-phone"></i>+34 91 781 57 00</p></li>
                    <li class="visible-xs col-xs-12 menu-link"><p><i class="fa fa-envelope"></i>info@oceanhillsestepona.com </p></li>
                }
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!--end: navigation-->
